<h1>Generated Password</h1>

<p>Your generated password is: {{ password }}</p>

<button onclick="copyToClipboard('{{ password }}')">Copy Password</button>

<a href="/passwordsaved/">Generate Another Password</a><br>
<a href="/profile/">Save Password</a>

<script>
  function copyToClipboard(text) {
    const el = document.createElement('textarea');
    el.value = text;
    document.body.appendChild(el);
    el.select();
    document.execCommand('copy');
    document.body.removeChild(el);
    alert('Password copied to clipboard!');
  }
</script>
